<template>
  <div>
    <div class="row">
      <div class="col-4 mx-auto">
        <h1 class="text-center mb-4">Iniciar sesión</h1>
        <form @submit.prevent='login(nameLogin, passwordLogin)'>
          <input type="text" class="form-control mb-2" placeholder="Usuario" v-model="nameLogin" required>
          <input type="password" class="form-control mb-2" placeholder="Clave" v-model="passwordLogin" required>
          <button class="btn btn-primary form-control">Iniciar sesión</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    data() {
      return {
        nameLogin: null,
        passwordLogin: null
      }
    },
    methods: {
      login(name, password) {
        axios.post('http://localhost:8080/api/login', { name: name, password: password }).then(respuesta => {
          const token = respuesta.data;
          this.$store.state.token = token;
          localStorage.setItem('access_token', token);
          this.$store.state.loggedIn = true;
          this.$router.push('/usuarios');
        });

        /*this.$store.dispatch('retrieveToken', {
          name: this.nameLogin,
          password: this.passwordLogin
        }).then(respuesta => {
          this.$router.push('/usuarios');
        });*/
      }
    }
  }
</script>
