<template>

</template>

<script>
  export default {
    created() {
      /*this.$store.dispatch('destroyToken').then(respuesta => {
        this.$router.push('/usuarios');
      });*/
      this.$store.state.loggedIn = false;
      localStorage.removeItem('access_token');
      this.$store.state.roles = null;
      this.$store.state.privilegios = null;
    }
  }
</script>
