<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="row">
        <div class="col">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <router-link class="nav-link" to="/usuarios">Usuarios</router-link>
              <router-link class="nav-link" to="/roles">Roles</router-link>
              <router-link class="nav-link" to="/privilegios">Privilegios</router-link>
            </ul>
          </div>
        </div>
      </div>

      <div class="form-inline">
        <ul class="navbar-nav mr-auto">
          <router-link v-if="!this.loggedInLocal" class="nav-link" to="/login">Iniciar sesión</router-link>
          <router-link v-if="!this.loggedInLocal" class="nav-link" to="/usuarios/registro">Registrar</router-link>
          <router-link v-if="this.loggedInLocal" class="nav-link" to="/logout">Desconectar</router-link>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
  export default {
    computed: {
      loggedInLocal() {
        return this.$store.state.loggedIn
      }
    },
    methods: {
      checkVariable() {
        return this.loggedInLocal
      }
    },
    beforeUpdate() {
      this.checkVariable();
    }
  }
</script>
