<template>
  <div>
    <div class="row">
      <div class="col-10 mx-auto" v-if="this.$store.state.privilegios && this.$store.state.privilegios.length">
        <h1 class="text-center mb-4 mt-2">Lista de privilegios</h1>
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody v-for="privilege of this.$store.state.privilegios" :key="privilege.id">
            <tr>
              <th scope="row" class="align-middle">{{ privilege.id }}</th>
              <td class="align-middle">{{ privilege.name }}</td>
              <td>
                <button class="btn btn-outline-danger" @click="deletePrivilegeById(privilege.id)">Borrar</button>
                <router-link :to="`/privilegios/${privilege.id}`">
                  <button class="btn btn-outline-primary">Editar</button>
                </router-link>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <router-link to="/privilegios/agregar">
      <button class="btn btn-success">Agregar</button>
    </router-link>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    created() {
      this.$store.state.usuario = false;
      this.$store.state.role = false;
    },
    methods: {
      deletePrivilegeById(id) {
        axios.delete('http://localhost:8080/api/privileges/' + id, { headers: { "Authorization": localStorage.getItem('access_token') }});
      }
    }
  }
</script>
