<template>
  <div>
    <div v-if="id">
      <div class="row">
        <div class="col-10 mx-auto">
          <h1 class="text-center mb-4">
            <span class="text-muted">Actualizar privilegio</span> <span class="font-weight-bold">{{ nameNew }}</span>
          </h1>
          <input type="text" class="form-control mb-2" placeholder="Nuevo nombre" value="nameNew" v-model="nameNew" required>
          <div class="row mt-5">
            <div class="col-5 mx-auto">
              <button class="form-control btn btn-outline-danger" @click="atras()">Volver</button>
            </div>
            <div class="col-5 mx-auto">
              <button class="form-control btn btn-outline-success" @click="editPrivilegeById(idNew, nameNew)">Actualizar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="!id">
      <div class="row">
        <div class="col-4 mx-auto">
          <h1 class="text-center mb-4">Nuevo Privilegio</h1>
          <form @submit.prevent>
            <input type="text" class="form-control mb-2" placeholder="Nombre" v-model="namePrivilege" required>
            <button class="btn btn-success form-control" @click="addPrivilege(namePrivilege)">Agregar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import Relation from './Relation.vue'

  export default {
    components: {
      Relation
    },
    data() {
      return {
        id: this.$route.params.id,
        namePrivilege: null,
        nameNew: null,
        idNew: null
      }
    },
    created() {
      if (this.id) {
        this.getPrivilegeById(this.id);
      }
    },
    methods: {
      addPrivilege(name) {
        axios.post('http://localhost:8080/api/privileges', { name: name }, { headers: { "Authorization": localStorage.getItem('access_token') } } ).then(respuesta => {
          this.$store.state.privilegios.push(respuesta.data);
        });
        this.$router.push('/privilegios');
      },
      editPrivilegeById(id, name) {
        axios.put('http://localhost:8080/api/privileges/' + id, { name: name }, { headers: { "Authorization": localStorage.getItem('access_token') } } );
      },
      getPrivilegeById(id) {
        axios.get('http://localhost:8080/api/privileges/' + id, { headers: { "Authorization": localStorage.getItem('access_token') }}).then(respuesta => {
          this.nameNew = respuesta.data.name;
          this.idNew = id;
        });
      },
      atras() {
        this.$router.push('/privilegios');
      }
    }
  }
</script>
