<template>
  <div>
    <div class="row" v-if="this.$store.state.role">
      <div class="col-4 mx-auto">
        <h6 class="text-center mb-4">Agregar privilegios</h6>
        <select class="custom-select" size="5" v-model="agregarPrivilegio">
          <option v-for="privilege in this.$store.state.privilegiosNoAsignados" :key="privilege.id" :value="privilege">
            {{ privilege.name }}
          </option>
        </select>
      </div>
      <div class="col-1">
        <button class="btn btn-primary form-control mt-5" @click="addPrivelege()"> + </button>
        <button class="btn btn-primary form-control mt-5" @click="removePrivilege()"> - </button>
      </div>
      <div class="col-4 mx-auto">
        <h6 class="text-center mb-4">Privilegios asignados</h6>
        <select class="custom-select" size="5" v-model="eliminarPrivilegio">
          <option v-for="privilege in this.$store.state.privilegiosAsignados" :key="privilege.id" :value="privilege">
            {{ privilege.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="row" v-if="this.$store.state.usuario">
      <div class="col-4 mx-auto">
        <h6 class="text-center mb-4">Agregar roles</h6>
        <select class="custom-select" size="5" v-model="agregarRol">
          <option v-for="privilege in this.$store.state.rolesNoAsignados" :key="privilege.id" :value="privilege">
            {{ privilege.name }}
          </option>
        </select>
      </div>
      <div class="col-1">
        <button class="btn btn-primary form-control mt-5" @click="addRole()"> + </button>
        <button class="btn btn-primary form-control mt-5" @click="removeRole()"> - </button>
      </div>
      <div class="col-4 mx-auto">
        <h6 class="text-center mb-4">Roles asignados</h6>
        <select class="custom-select" size="5" v-model="eliminarRol">
          <option v-for="privilege in this.$store.state.rolesAsignados" :key="privilege.id" :value="privilege">
            {{ privilege.name }}
          </option>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        agregarRol: this.$store.state.agregarRolSeleccionado,
        eliminarRol: this.$store.state.eliminarRolSeleccionado,
        agregarPrivilegio: this.$store.state.agregarPrivilegioSeleccionado,
        eliminarPrivilegio: this.$store.state.eliminarPrivilegioSeleccionado
      }
    },
    methods: {
      addPrivelege() {
        this.$store.state.privilegiosAsignados.push(this.agregarPrivilegio);
        this.$store.state.privilegiosNoAsignados.splice(this.$store.state.privilegiosNoAsignados.indexOf(this.agregarPrivilegio), 1);
      },
      removePrivilege() {
        this.$store.state.privilegiosNoAsignados.push(this.eliminarPrivilegio);
        this.$store.state.privilegiosAsignados.splice(this.$store.state.privilegiosAsignados.indexOf(this.eliminarPrivilegio), 1);
      },
      addRole() {
        this.$store.state.rolesAsignados.push(this.agregarRol);
        this.$store.state.rolesNoAsignados.splice(this.$store.state.rolesNoAsignados.indexOf(this.agregarRol), 1);
      },
      removeRole() {
        this.$store.state.rolesNoAsignados.push(this.eliminarRol);
        this.$store.state.rolesAsignados.splice(this.$store.state.rolesAsignados.indexOf(this.eliminarRol), 1);
      }
    }
  }
</script>
