<template>
  <div>
    <div class="row">
      <div class="col-10 mx-auto" v-if="this.$store.state.roles && this.$store.state.roles.length">
        <h1 class="text-center mb-4 mt-2">Lista de roles</h1>
        <table class="table table-hover mb-4">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody v-for="(role, index) of this.$store.state.roles" :key="role.id">
            <tr>
              <th scope="row" class="align-middle">{{ role.id }}</th>
              <td class="align-middle">{{ role.name }}</td>
              <td>
                <button class="btn btn-outline-danger" @click="deleteRoleById(role.id, index)">Borrar</button>
                <router-link :to="`/roles/${role.id}`">
                  <button class="btn btn-outline-primary">Editar</button>
                </router-link>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <router-link to="/roles/agregar">
      <button class="btn btn-success">Agregar</button>
    </router-link>
  </div>
</template>

<script>
  import axios from 'axios'
  import Relation from './Relation.vue'

  export default {
    components: {
      Relation
    },
    created() {
      this.$store.state.usuario = false;
    },
    methods: {
      deleteRoleById(id, index) {
        this.$store.state.roles.splice(index, 1);
        axios.delete('http://localhost:8080/api/roles/', { headers: { "Authorization": localStorage.getItem('access_token') }});
      }
    }
  }
</script>
