<template>
  <div>
    <div v-if="id">
      <div class="row">
        <div class="col-10 mx-auto">
          <h1 class="text-center mb-4"><span class="text-muted">Actualizar rol</span> <span class="font-weight-bold">{{ nameNew }}</span></h1>
          <input type="text" class="form-control mb-2" placeholder="Nuevo nombre" value="nameNew" v-model="nameNew" required>
          <relation class="mt-4"></relation>
          <div class="row mt-5">
            <div class="col-5 mx-auto">
              <button class="form-control btn btn-outline-danger" @click="atras()">Volver</button>
            </div>
            <div class="col-5 mx-auto">
              <button class="form-control btn btn-outline-success" @click="editRoleById(idNew, nameNew)">Actualizar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="!id">
      <div class="row">
        <div class="col-4 mx-auto">
          <h1 class="text-center mb-4">Nuevo rol</h1>
          <form @submit.prevent>
            <input type="text" class="form-control mb-2" placeholder="Nombre" v-model="nameRole" required>
            <button class="btn btn-success form-control" @click="addRole(nameRole)">Agregar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import Relation from './Relation.vue'

  export default {
    components: {
      Relation
    },
    data() {
      return {
        id: this.$route.params.id,
        currentRole: this.$store.state.rol,
        nameRole: null,
        nameNew: null,
        idNew: null
      }
    },
    created() {
      if (this.id) {
        this.getRoleById(this.id);
      }
    },
    methods: {
      addRole(name) {
        axios.post('http://localhost:8080/api/roles', { name: name }, { headers: { "Authorization": localStorage.getItem('access_token') } } ).then(respuesta => {
          this.$store.state.roles.push(respuesta.data);
        });
        this.$router.push('/roles');
      },
      editRoleById(id, name) {
        axios.put('http://localhost:8080/api/roles/' + id, { name: name, privileges: this.$store.state.privilegiosAsignados }, { headers: { "Authorization": localStorage.getItem('access_token') } } );
      },
      getRoleById(id) {
        axios.get('http://localhost:8080/api/roles/' + id, { headers: { "Authorization": localStorage.getItem('access_token') }}).then(respuesta => {
          this.$store.state.rol = respuesta.data;
          this.nameNew = this.$store.state.rol.name;
          this.idNew = this.$store.state.rol.id;
          this.$store.state.privilegiosAsignados = this.$store.state.rol.privileges;
          if (this.$store.state.rol.privileges) {
            this.$store.state.privilegiosNoAsignados = this.$store.state.privilegios.filter(role => !this.$store.state.rol.privileges.find(roleNuevo => role.id === roleNuevo.id));
          }
        });
        this.$store.state.role = true;
      },
      atras() {
        this.$router.push('/roles');
      }
    }
  }
</script>
