<template>
  <div>
    <div v-if="id">
      <div class="row">
        <div class="col-10 mx-auto">
          <h1 class="text-center mb-4"><span class="text-muted">Actualizar usuario</span> <span class="font-weight-bold">{{ nameNew }}</span></h1>
          <input type="text" class="form-control mb-2" placeholder="Nuevo nombre" value="nameNew" v-model="nameNew" required>
          <input type="text" class="form-control mb-2" placeholder="Nuevo email" value="emailNew" v-model="emailNew" required>
          <relation class="mt-4"></relation>
          <div class="row mt-5">
            <div class="col-5 mx-auto">
              <button class="form-control btn btn-outline-danger" @click="atras()">Volver</button>
            </div>
            <div class="col-5 mx-auto">
              <button class="form-control btn btn-outline-success" @click="editUserById(idNew, nameNew, emailNew)">Actualizar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="!id">
      <div class="row">
        <div class="col-4 mx-auto">
          <h1 class="text-center mb-4">Nuevo usuario</h1>
          <form @submit.prevent>
            <input type="text" class="form-control mb-2" placeholder="Usuario" v-model="nameUser" required>
            <input type="text" class="form-control mb-2" placeholder="Clave" v-model="passwordUser" required>
            <input type="text" class="form-control mb-2" placeholder="Correo electrónico" v-model="emailUser" required>
            <button class="btn btn-success form-control" @click="addUser(nameUser, passwordUser, emailUser)">Registrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import Relation from './Relation.vue'

  export default {
    components: {
      Relation
    },
    data() {
      return {
        id: this.$route.params.id,
        currentUser: this.$store.state.user,
        nameNew: null,
        emailNew: null,
        idNew: null,
        nameUser: null,
        emailUser: null,
        passwordUser: null
      }
    },
    created() {
      if (this.id) {
        this.getUserById(this.id);
      }
    },
    methods: {
      addUser(name, password, email) {
        axios.post('http://localhost:8080/api/users', { name: name, password: password, email: email }).then(respuesta => {
          this.$store.state.usuarios.push(respuesta.data);
        });
        this.atras();
      },
      editUserById(id, name, email) {
        axios.put('http://localhost:8080/api/users/' + id, { headers: { "Authorization": localStorage.getItem('access_token') }, name: name, email: email, roles: this.$store.state.rolesAsignados });
      },
      getUserById(id) {
        axios.get('http://localhost:8080/api/users/' + id, { headers: { "Authorization": localStorage.getItem('access_token') } }).then(respuesta => {
          this.$store.state.user = respuesta.data;
          this.nameNew = this.$store.state.user.name;
          this.emailNew = this.$store.state.user.email;
          this.idNew = this.$store.state.user.id;
          this.$store.state.rolesAsignados = this.$store.state.user.roles;
          if (this.$store.state.user.roles) {
            this.$store.state.rolesNoAsignados = this.$store.state.roles.filter(role => !this.$store.state.user.roles.find(roleNuevo => role.id === roleNuevo.id));
          }
        });
        this.$store.state.usuario = true;
      },
      atras() {
        this.$router.push('/usuarios');
      }
    }
  }
</script>
