<template>
  <div>
    <div class="row">
      <div class="col-10 mx-auto" v-if="this.$store.state.usuarios && this.$store.state.usuarios.length">
        <h1 class="text-center mb-4 mt-2">Lista de usuarios</h1>
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Email</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody v-for="(user, index) of this.$store.state.usuarios" :key="user.id">
            <tr>
              <th scope="row" class="align-middle">{{ user.id }}</th>
              <td class="align-middle">{{ user.name }}</td>
              <td class="align-middle">{{ user.email }}</td>
              <td>
                <button class="btn btn-outline-danger" @click="deleteUserById(user.id, index)">Borrar</button>
                <router-link :to="`/usuarios/${user.id}`">
                  <button class="btn btn-outline-primary">Editar</button>
                </router-link>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" v-if="this.$store.state.usuarios == null || this.$store.state.usuarios.length == 0">
      <div class="col-10 mx-auto">
        <div class="text-center">
          <h3>No hay usuarios para mostrar</h3>
          Haga clic
          <router-link to="/usuarios/registro">
            <a>aquí</a>
          </router-link>
          para registrar un nuevo usuario.
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import Relation from './Relation.vue'

  export default {
    components: {
      Relation
    },
    created() {
      this.getUsers();
      this.getRoles();
      this.getPrivileges();
      this.$store.state.role = false;
    },
    methods: {
      getUsers() {
        axios.get('http://localhost:8080/api/users').then(respuesta => {
          this.$store.state.usuarios = respuesta.data;
        });
      },
      getRoles() {
        axios.get('http://localhost:8080/api/roles', { headers: { "Authorization": localStorage.getItem('access_token') }}).then(respuesta => {
          this.$store.state.roles = respuesta.data;
        });
      },
      getPrivileges() {
        axios.get('http://localhost:8080/api/privileges', { headers: { "Authorization": localStorage.getItem('access_token') }}).then(respuesta => {
          this.$store.state.privilegios = respuesta.data;
        });
      },
      deleteUserById(id, index) {
        this.$store.state.usuarios.splice(index, 1);
        axios.delete('http://localhost:8080/api/users/' + id);
      }
    }
  }
</script>
