<template>
  <div>
    <navbar></navbar>
    <div class="container">
      <router-view class="mt-3"></router-view>
    </div>
  </div>
</template>

<script>
  import Navbar from './components/Navbar.vue'

  export default {
    components: {
      Navbar
    }
  }
</script>

<style>
  h1, h2 {
    font-weight: lighter;
  }
</style>
